:root {
  --background: #FDECED;

  --backgroundHero: #F15156;
  --titleHero: #fff;
  --titleButton: #0D3B66;
  
  --title: #000;
  --buttonBorderBlack: #000;
  --buttonBorderWhite: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 10px;
}

body {
  color: rgb(var(--title));
  background: rgb(var(--background));
}

